<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<!-- <body onload="inti()">
  <script src="candidate.js"></script>
  <div id="subdiv">
    <canvas id="mycanvas" width="400" height="250">
      <p class="text">
        marquee text left to right.
      </p>
    </canvas>
  </div> -->

<body class="bg-[url('assets/image/techpark.jpeg')] w-full h-screen bg-no-repeat bg-cover">


  <br>
  <!-- f6e4f6, nice ffa987-->
<nav >
  <h3 class="text-white text-center text-current text-2xl font-serif font-light">Fill-in Employee Details </h3>
  <span class="spacer"></span>
</nav>
<!-- text-[#00f5d4] -->
<br><br>
<form (ngSubmit)="putData()" class="text-white">

  <div class="form-group" >
    <label for="id" >Candidate/Unique ID : </label>
    <input placeholder="eg.WGS00" class="mt-1 block w-full px-3 py-2
    bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    invalid:border-pink-500 invalid:text-pink-600
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500" [(ngModel)]="c.wgsid" name="wgsid"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="fullName"  > Name : </label>
    <input placeholder="full name" [(ngModel)]="c.name" name="name"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="age" >Age : </label>
    <input placeholder="age" [(ngModel)]="c.age" name="age"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <!-- <div class="form-group" >
    <label for="maritalStatus" >Joining Date : </label>
    <input placeholder="eg. married, single"[(ngModel)]="c.jd" name="ms"  class="form-control" type="text">
  </div> -->

  <div class="form-group" >
    <label for="totalExperience" >Total Experience : </label>
    <input placeholder="eg.4 " [(ngModel)]="c.total_exp" name="total_exp" class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="relevantExperience" >Relevant Experience : </label>
    <input placeholder="eg.2 " [(ngModel)]="c.relevant_exp" name="relevant_exp" class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="expectedLwd" >Expected LWD : </label>
    <input placeholder="[dd-mm-yyyy] eg.20-11-2022" [(ngModel)]="c.lwd" name="lwd"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="location" > Location : </label>
    <input placeholder="eg.Mumbai, Pune, Banglore, Chennai"[(ngModel)]="c.location" name="location"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="skills" >Skills : </label>
    <input placeholder="eg.FSD, Web Development etc"[(ngModel)]="c.skill" name="skill"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="technology" >Technology : </label>
    <input placeholder="eg.Java, .net etc"  [(ngModel)]="c.technology" name="technology"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <label for="maritalStatus" >Marital Status : </label>
    <input placeholder="eg. married, single"  [(ngModel)]="c.marital_status" name="marital_status"  class="form-control" type="text" style="text-transform: lowercase">
  </div>

  <div class="form-group" >
    <input [(ngModel)]="c.status" name="status" class="form-control" type="hidden">
  </div>


  <!-- <fieldset>
    <legend>Published status</legend>

    <input id="draft" class="peer/draft" type="radio" name="status" checked />
    <label for="draft" class="peer-checked/draft:text-sky-500">Draft</label>

    <input id="published" class="peer/published" type="radio" name="status" />
    <label for="published" class="peer-checked/published:text-sky-500">Published</label>

    <div class="hidden peer-checked/draft:block">Drafts are only visible to administrators.</div>
    <div class="hidden peer-checked/published:block">Your post will be publicly visible on your site.</div>
  </fieldset> -->


    <button class="btn btn-outline-info btn-sm btn-block col-3" (click)="putData()" type="button">Submit</button>

<br><br>
</form>

</body>
</html>
