<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  <title>Board</title>
</head>

<body class=" bg-[url('assets/image/techpark.jpeg')] w-full h-screen bg-no-repeat bg-cover" >


<mat-toolbar id="nav" class="h-14 font-serif font-extralight" >
  <!-- <p class=" text-white font-serif font-light">Hiring Kanban Board</p> -->
  <p class=" text-black text-2xl font-serif font-light">Hiring Kanban Board</p>
   <span class="spacer"></span>        <!--/// -->
   <a mat-button (click)="report()" class="nav-link hover:bg-gray-500 rounded-md  focus:ring-2 
  ring-inset hover:rounded-xl text-black font-serif text-end">Report</a>
  <a mat-button (click)="downloadCSV()" class="nav-link hover:bg-gray-500 rounded-md hover:rounded-xl text-black font-serif text-end">Export CSV
  </a>
  &nbsp;
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <mat-select (selectionChange)="select($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let ch of choice" [value]="ch.value">{{ch.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp; &nbsp; &nbsp;
  <label class="relative block">
    <span class="sr-only">Search</span>
    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
      <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"><!-- ... --></svg>
    </span>                                
    <input #input [(ngModel)]="searchText" class="placeholder:font-serif placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Search here..." type="text" name="search"/>
  </label>



  &nbsp;&nbsp;
  <!-- <input matInput placeholder="Search"  [(ngModel)]="searchText" > -->
  <button type="submit" (click)="searchdata(filterdata,input.value)">Search</button>
  &nbsp;&nbsp;                <!--/// -->
  <button id="logout-button" class="nav-link  rounded-md hover:outline-1 text-white hover:rounded-xl hover:bg-gray-500 text-center text-current" routerLink="/login">Logout</button>
  <a class="nav-link text-black hover:bg-gray-500 rounded-md  hover:rounded-xl font-serif text-center text-current sm:text-sm md:text-md" routerLink="/candidate">Employee Board</a>
</mat-toolbar>

  <div cdkDropListGroup>
    <div class="container" >
      <div id="nav" class="border border-dark p-2 m-3" >
        <h2 class="text-lg text-white font-serif hover:text-gray-600">Backlog</h2>
        <div class="list" cdkDropList id="backlog" #backlogList="cdkDropList" [cdkDropListData]="backlog"
        [cdkDropListConnectedTo]="['progress','review','done']" (cdkDropListDropped)="onDrop($event)">
        <mat-card class="bg-[#172B]" *ngFor="let item of backlog |  filter:searchText" cdkDrag>
          <mat-card-content>
            <mat-card-header (click)="(open(item))">
            <mat-card-title>{{item.wgsid}}</mat-card-title>
            <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
            </mat-card-header>

            <mat-form-field class="example-chip-list" appearance="fill">
              <mat-chip-list #chipList aria-label="Tags">
                <mat-chip color="primary" selected *ngFor="let tag of item.tages | search:search" (removed)="remove(tag_id.value)">
                  <input #tag_id type="hidden" value= {{tag.id}}/>
                  <a>{{tag.tag_content}}</a>
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input #id type = "hidden" value={{item.wgsid}}/>
                <input placeholder="New Tags"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event, id.value)">
              </mat-chip-list>
            </mat-form-field>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="nav" class="border border-dark p-2 m-3" >
      <h2 class="text-lg text-white font-serif hover:text-gray-600">In Progress</h2>
      <div class="list" cdkDropList id="progress" #progressList="cdkDropList" [cdkDropListData]="progress"
      [cdkDropListConnectedTo]="['backlog','review','done']" (cdkDropListDropped)="onDrop($event)">
      <mat-card class="bg-[#172B]" *ngFor="let item of progress |  filter:searchText" cdkDrag>
        <mat-card-content>
          <mat-card-header (click)="(open(item))">
            <mat-card-title>{{item.wgsid}}</mat-card-title>
            <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
          </mat-card-header>

          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-chip-list #chipList aria-label="Tags">
              <mat-chip color="accent" selected *ngFor="let tag of item.tages | search:search" (removed)="remove(tag_id.value)">
                <input #tag_id type="hidden" value= {{tag.id}}/>
                <a>{{tag.tag_content}}</a>
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input #id type = "hidden" value={{item.wgsid}}/>
              <input placeholder="New Tags"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event, id.value)">
            </mat-chip-list>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div id="nav" class="border border-dark p-2 m-3" >
    <h2 class="text-lg text-white font-serif hover:text-gray-600">In Review</h2>
    <div class="list" cdkDropList id="review" #reviewList="cdkDropList" [cdkDropListData]="review"
    [cdkDropListConnectedTo]="['backlog','progress','done']" (cdkDropListDropped)="onDrop($event)">
    <mat-card class="bg-[#172B]" *ngFor="let item of review | filter:searchText" cdkDrag>
      <mat-card-content>
        <mat-card-header (click)="(open(item))">
          <mat-card-title>{{item.wgsid}}</mat-card-title>
          <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
        </mat-card-header>

        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-chip-list #chipList aria-label="Tags">
            <mat-chip color="secondary" selected *ngFor="let tag of item.tages | search:search" (removed)="remove(tag_id.value)">
              <input #tag_id type="hidden" value= {{tag.id}}/>
              <a>{{tag.tag_content}}</a>
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input #id type = "hidden" value={{item.wgsid}}/>
            <input placeholder="New Tags"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event, id.value)">
          </mat-chip-list>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>

<div class="container">
  <div id="nav" class="border border-dark p-2 m-3" >
    <h2 class="text-lg text-white font-serif hover:text-gray-600">Done</h2>
    <div class="list" cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done"
    [cdkDropListConnectedTo]="['backlog','progress','review']" (cdkDropListDropped)="onDrop($event)">
    <mat-card class="bg-[#172B]" *ngFor="let item of done | filter:searchText" cdkDrag>
      <mat-card-content>
        <mat-card-header (click)="(open(item))">
          <mat-card-title>{{item.wgsid}}</mat-card-title>
          <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
        </mat-card-header>

        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-chip-list #chipList aria-label="Tags">
            <mat-chip color="warn" selected *ngFor="let tag of item.tages | search:search" (removed)="remove(tag_id.value)">
              <input #tag_id type="hidden" value= {{tag.id}}/>
              <a>{{tag.tag_content}}</a>
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input #id type = "hidden" value={{item.wgsid}}/>
            <input placeholder="New Tags"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event, id.value)">
          </mat-chip-list>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>

</body>
</html>
