div > mat-card{
  /* background-color: #cdd7d6; */
  border-style:solid;
  width: 800px;
  height: 800px;
}

*{
  color: black;
}
#div1{
float: left;
width: 1000px;
overflow-y:scroll;
}
#new5 {
  border: 10px;
  border-radius: 5px;
}
/* 
.comment-box {
  padding: 8px 12px;
  background: var(--ds-background-neutral,#091e4214);
  border: 1px solid #0000;
  border-radius: 10px;
  color: var(--ds-text-subtle,#42526e);
  cursor: pointer;
  display: inline;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.714;
  padding: 0 .3em 2px .23em;
  word-break: break-word;
}

div > mat-button{
  margin-top: 50%;
}

.example-spacer {
  flex: 1 1 auto;
}

button{
  height: 60%;
  background-color:#eaf4f4;

}
.btn{
  margin-bottom: 20%;
}

.content{
  background-size: 50%;
} */
